@model List<Train>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Train Results";
    var fares = ViewBag.Fares as List<Fare>;
}
<h3>Train Results</h3>
@foreach (var train in Model)
{
    <div class="card mb-3">
        <div class="card-body">
            <h4 class="card-title">@train.TrainName (@train.TrainNumber)</h4>
            <ul class="list-group">
                @foreach (var tc in train.TrainClasses)
                {
                    var fare = fares.FirstOrDefault(f => f.TrainId == train.TrainId && f.ClassId == tc.ClassId);
                    <li class="list-group-item">
                        Class: @tc.Class.ClassName | Fare: ₹@fare?.FareAmount ?? 0
                        <form method="post" asp-action="BookTicket" class="mt-2 row g-2">
                            <input type="hidden" name="trainId" value="@train.TrainId" />
                            <input type="hidden" name="classId" value="@tc.ClassId" />
                            <div class="col-md-4">
                                <input class="form-control" type="text" name="passengerName" placeholder="Your Name" required />
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" type="date" name="journeyDate" required />
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-success" type="submit">Book</button>
                            </div>
                        </form>
                    </li>
                }
            </ul>
        </div>
    </div>
}
